<!--
  Generated template for the MyUserPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>my-user</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-label fixed>Username</ion-label>
  <ion-input type="text" value=""></ion-input>
  <button (click)=""></button>
</ion-content>
